@import '../variables';

.horisontal-scroll {
	$height: 23rem;
	min-height: $height !important;
	position: relative;
	overflow-y: visible;
	overflow-x: scroll;
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;
	user-select: none;
	//cursor: pointer;

	.no-bottom-margin & {
		padding-bottom: $spacer;
		margin: 0 (-$spacer);

		.horisontal-scroll-card {
			&:first-of-type {
				margin-left: $spacer;
			}
			&:last-of-type {
				margin-right: $spacer;
			}
		}
	}

	.horisontal-scroll-card {
		display: inline-block;
		flex-shrink: 0;
		flex-grow: 1;
		width: 18rem;
		height: $height;
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		white-space: initial;

		img {
			background-color: whitesmoke;
			height: 143px;
		}

		&:not(:last-of-type) {
			margin-right: $spacer;
		}
	}

	&.active {
		cursor: grabbing;
	}
}