@import '../variables';

.location-component {
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 15rem;
		width: 100%;
		margin-top: $spacer;
		background-image: whitesmoke;
		background-repeat: no-repeat;
		background-size: cover;

		h2 {
			color: white;
		}
	}

	.chart {
		width: 100%;
	}

	img {
		max-width: 100%;
	}

	img, .hero, iframe {
		border-radius: $border-radius;
	}
}