@import '../variables';

.container > *:not(.no-bottom-margin) {
	margin-bottom: $spacer;
}

.carousel {
	border-radius: $border-radius;
	overflow: hidden;

	.carousel-caption {
		top: 50%;
		transform: translateY(-50%);
		bottom: initial;
	}
}

.logo-laavu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 1rem 2.5rem 1rem;

	.icon {
		@include visit-finland-background();
		$dimension: 3rem;
		height: $dimension;
		width: $dimension;
		margin-right: 0.7rem;
	}

	.text {
		font-size: 2rem;
	}
}