@import './variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:not(.btn) {
  cursor: pointer;
  color: $palette-body !important;
}

.btn-primary {
  background-color: $palette-accent-orange !important;
  border-color: $palette-accent-orange !important;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($palette-accent-orange,.5) !important;
  }
}

.btn-link {
  color: $palette-accent-orange !important;
}