@import '../variables';

h4.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	display: contents;
}

.accordion {
	width: 100%;
}

.card-header {
	background-color: white;
	transition: background-color .2s ease-out;

	&:hover {
		background-color: whitesmoke;
	}
}

.post-container {
	width: 100%;
	display: flex;
	justify-content: space-between;

	$dim: 3.5rem;
	.picture {
		height: $dim;
		width: $dim;
		background-color: grey;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 100%;
		box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	}

	.badge-white {
		background: white;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 15px;
	}

	.name {
		font-size: 1.2rem;
		font-variant: small-caps;
		text-transform: lowercase;
	}

	.right-section {
		display: block;
		width: calc(100% - #{ $dim });
		padding-left: 1rem;
		align-self: center;
		text-align: left;

		p {
			font-size: 0.9rem;
		}
	}
}

.button-shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.vertical-center {
	display: flex;
	align-self: center;
}

.ReactModal__Content, .ReactModal__Content--after-open {
	bottom: unset !important;
	border-radius: $border-radius;
}

.submit-bottom {
	justify-self: flex-end;
}